.submit {
    background-color: rgb(17 24 39);
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s ease;

    height: 40px;
}

.submit:hover {
    background-color: rgb(107, 114, 128);
}

.spinner {
    display: inline-block;
    border: 2px solid rgba(255, 255, 255, 0.3); /* Lighter border for the spinner */
    border-top: 2px solid white; /* Top border to create the spinning effect */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
