.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.headerLogo {
    display: flex;
    flex-direction: row;
    align-items: center;

    /* reset link */
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
}

.headerImage {
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
}

.headerTitle {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
    color: rgb(41, 37, 36);
}

.headerLogo:hover .headerTitle,
.headerLogo:hover .headerImage {
    filter: brightness(1.2);
    color: rgb(71, 67, 66);
}

.headerLinks {
    display: flex;
    gap: 1rem;
}

.navLinkRoot {
    text-decoration: none;
}

.navLink {
    text-decoration: none;
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
    font-weight: 500;
    color: rgb(107, 114, 128);
}

.navLink:hover {
    color: rgb(75, 85, 99);
}

.hamburger {
    display: none; /* Initially hidden on larger screens */
    cursor: pointer;

    /* reset button */
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    outline: none;

    /* reset svg */
    fill: none;
    stroke: #000000;
    color: #000000;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.headerLinks.open {
    display: flex;
    flex-direction: column;
}

.headerBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

@keyframes fadeInMoveDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .header {
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;

        flex-direction: column;
        gap: 1.5rem;
    }

    .hamburger {
        display: block; /* Show hamburger on smaller screens */
    }

    .headerLinks {
        display: none; /* Initially hide the links on smaller screens */
    }

    .headerLinks.open {
        display: flex; /* Show links when menu is open */
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .headerLinks.open .navLink {
        animation: fadeInMoveDown 0.5s forwards; /* 0.5s is the duration, adjust as needed */
        opacity: 0; /* Start with opacity 0, the animation will change it to 1 */
    }
}
