.projectHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.projectHeaderTop {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.projectHeaderTopLeft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
}

.projectTags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.projectTag {
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 0.5rem;

    /* Continue here */
}

.projectTitle {
    font-size: 1.5rem;
    font-weight: 600;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
