.techStackItem {
    display: inline-block;

    /* Reset link style */
    text-decoration: none;
    color: inherit;
}

.techStackItem:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.techStackItemInner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 0.5rem 1.2rem;

    border: 1px solid rgba(0, 0, 0, 0.1);
}

.techStackIcon {
    width: 1.2rem;
    height: 1.2rem;
}
