.project {
    width: 100%;
}

.techStackTitle {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #333;
}

.techStackItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    list-style: none;
}